
<form action="/wizard_add">
  <label for="first">First:</label>
  <input id="first" name="first_number">

  <label for="second">Second:</label>
  <input id="second" name="second_number">

  <label for="remember">Remember Me</label>

  <input id="remember" type="checkbox">

  <button>
    Add!
  </button>
</form>