<h1>New translation</h1>

<form action="/wizard_translate">
  <div>
    <label for="text_field">Text to translate:</label>
    
    <textarea id="text_field" name="original_text"></textarea>
  </div>

  <div>
    <label for="language_field">Language to translate into:</label>
    
    <select id="language_field" name="target_language">
      <% @languages.each do |a_language| %>
        <option value="<%= a_language.code %>">
          <%= a_language.name %>
        </option>
      <% end %>
    </select>
  </div>

  <div>
    <label for="phone_field">SMS translation to:</label>
    
    <input id="phone_field" name="send_to">
  </div>

  <button>Translate!</button>
</form>