<h1>Translation</h1>

<dl>
  <dt>Original text:</dt>
  <dd><%= @user_text %></dd>

  <dt>Translated into <%= @target_lang %>:</dt>
  <dd>
    <p><%= @translated_text %></p>
  
    <% if @recipient_number.present? %>
      <small>Sent to <%= @recipient_number %>.</small>
    <% end %>
  </dd>
</dl>

<a href="/muggle_translate">Translate something else</a>